@import "variables";

* {
    transition: .3s;
}

.main-container {
    padding: 15px;
    background: $darkest;

    h2 {
        color: $rosy-dark;
    }

    .tab-links-wrapper {
        border-bottom: .5px solid $dark;
        .tab-link {
            color: $smoke;

            &:last-of-type {
                margin-left: 15px;
            }

            &:hover, &.active {
                color: #fefeff;
                font-weight: bolder;
                border-bottom: 1px solid $rosy;
            }
        }
    }
}