@import "../../../variables.scss";

.new-student-form {
    background: $dark;
    width: 25%;

    @media screen and (max-width: 485px) {
        width: 80%;
    }
    
    label {
        color: $lime-dark;

        svg {
            color: $lime;
        }
    }

    .input-error{
        color: #ffd519;
        margin-top: 5px;
    }

    .grades-list {
        background-color: $dark;
    }

    button {
        &:hover {
            background: $lime;
            color: $dark;
        }
    }

    @media screen and (max-width: 485px) {
        font-size: 12px;
    }
}