@import "../../../variables.scss";

.new-student-form {
    background: $dark;

    label {
        color: $rosy-dark;

        svg {
            color: $rosy
        }
    }
    .grades-list {
        background-color: $dark;
    }

    input {
        background: #fee8e8;
        color: grey;
    }

    button {
        &:hover {
            background: $rosy;
            color: #523d49;
        }
    }
}